body {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: blue;
  font-family: Arial;
}
.form-container {
    background: White;
  width: 320px;
  padding: 20px;
  border-radius: 5px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(233, 233, 233, 0.2);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
}
